<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

            <p>Please select what mode you want to play</p>
            <form action="/game" method="post">
                <p>Player Name: <input id="player-1-name-textbox" type="text" name="player1"></p>
                <input type="submit" value="Submit" id="name-submit">
            </form>


            <%- include('partials/footer.ejs') %>
                <%- include('partials/end.ejs') %>
